@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e70;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background-color: #fff; }

a, a:visited, a:focus {
  text-decoration: none;
  outline: none; }

input {
  border: none;
  outline: none; }

input:focus, textarea:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  padding-left: 0; }

li {
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

button, input, textarea {
  outline: none; }

::-moz-selection {
  background-color: rgba(177, 213, 38, 0.85); }

::selection {
  background-color: rgba(177, 213, 38, 0.85); }

::-moz-selection {
  background-color: rgba(177, 213, 38, 0.85); }

.clearfix {
  clear: both !important; }

h2 {
  font-family: "Roboto Slab", sans-serif;
  color: #9ca20d;
  font-size: 26px;
  font-weight: bold; }

/* Стили хедера */
.cssload-container {
  position: relative; }

.cssload-whirlpool,
.cssload-whirlpool::after,
.cssload-whirlpool::before {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #c9e704;
  border-left-color: #000;
  -webkit-border-radius: 1124px;
  border-radius: 1124px;
  -o-border-radius: 1124px;
  -ms-border-radius: 1124px; }

.cssload-whirlpool {
  width: 56px;
  height: 56px;
  margin: -28px 0 0 -28px;
  -webkit-animation: cssload-rotate 1.15s linear infinite;
  animation: cssload-rotate 1.15s linear infinite; }

.cssload-whirlpool::before {
  width: 50px;
  height: 50px;
  margin: -26px 0 0 -26px;
  content: '';
  -webkit-animation: cssload-rotate 1.15s linear infinite;
  animation: cssload-rotate 1.15s linear infinite; }

.cssload-whirlpool::after {
  width: 63px;
  height: 63px;
  margin: -33px 0 0 -33px;
  content: '';
  -webkit-animation: cssload-rotate 2.3s linear infinite;
  animation: cssload-rotate 2.3s linear infinite; }

@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

.pre-loader {
  position: fixed;
  z-index: 1000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  background-color: #fff; }

.cssload-container {
  top: 50%; }

body.pre-loaded .pre-loader {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.menu {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

body {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6d6e70;
  overflow-x: hidden;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

a,
a:visited,
a:focus {
  text-decoration: none;
  outline: none; }

input {
  border: none;
  outline: none; }

input:focus,
textarea:focus {
  outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab',sans-serif,sans-serif; }

img {
  max-width: 100%;
  height: auto; }

ul,
ol {
  padding-left: 0; }

li {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center; }

:after,
:before {
  display: block;
  clear: both;
  width: 100%;
  height: 0;
  content: ''; }

sup:after,
sup:before,
a:after,
a:before,
br:after,
br:before,
img:after,
img:before,
span:after,
span:before,
table:after,
table:before,
td:after,
td:before,
tr:after,
tr:before {
  content: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 1em;
  font-weight: inherit;
  font-weight: 300;
  text-align: center;
  letter-spacing: .01em; }

a {
  color: inherit;
  text-decoration: none;
  outline: 0 !important; }

button,
input,
textarea {
  outline: none; }

::-moz-selection {
  background-color: rgba(177, 213, 38, 0.85); }

::selection {
  background-color: rgba(177, 213, 38, 0.85); }

::-moz-selection {
  background-color: rgba(177, 213, 38, 0.85); }

.clearfix {
  clear: both !important; }

h2 {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #9ca20d; }

section {
  position: relative;
  z-index: 2;
  width: 100%;
  min-width: 480px;
  padding-top: 1px;
  min-height: 600px;
  background-size: cover !important; }

section > div {
  position: relative;
  z-index: 2;
  max-width: 480px;
  height: 100%;
  margin: 0 auto; }

section > div > div {
  width: 100%;
  height: 100%; }

.header {
  background-image: url(../img/header-bg.jpg);
  min-height: 958px; }

.header .head {
  min-height: 55px;
  margin-top: 30px; }

.header .logo {
  float: left;
  height: 55px;
  margin-left: 45px; }

.header .logo img {
  float: left;
  height: 100%; }

.header .logo p {
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 180px;
  float: left;
  margin-top: 6px;
  margin-left: 15px; }

.callback {
  float: right;
  min-height: 55px; }

.callback .callback-btn {
  font-size: 14px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  background-image: url(../img/header-callback.png);
  background-repeat: no-repeat;
  background-position: left center; }

.header .header-text {
  margin-top: 45px; }

.header .header-text h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #46494d; }

.header .header-text h1 span {
  font-size: 17px;
  line-height: 28px; }

.header .header-text h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #696b6e;
  margin: 14px 0; }

.header .header-text h2 span {
  font-weight: 700; }

.header .header-video {
  width: 100%;
  height: 290px;
  margin-top: 15px;
  cursor: pointer;
  background-image: url(../img/header-video-bg.jpg);
  background-position: center center;
  background-size: cover; }

.header .header-video .vid-over {
  line-height: 315px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center; }

.header .header-video .vid-over img {
  vertical-align: middle; }

.menu-btn {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  background-image: url(../img/menu-toggle.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }

.main-form {
  width: 100%;
  height: 360px;
  padding: 35px 60px;
  background-color: #27292c;
  -webkit-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: url(../img/header-form-bg.png);
  background-size: cover; }

.main-form p {
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
  text-align: center; }

.header .main-form {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

.main-form input[type='text'],
.main-form input[type='tel'] {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  color: #bbb;
  width: 100%;
  margin-bottom: 23px;
  padding: 13px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #4e5156;
  -webkit-box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.14); }

.main-form input[type='submit'] {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #d7f004;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7f004), color-stop(100%, #7ab507));
  background: -webkit-linear-gradient(90deg, #7ab507 0%, #d7f004 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#7ab507), to(#d7f004));
  background: -webkit-linear-gradient(bottom, #7ab507 0%, #d7f004 100%);
  background: linear-gradient(0deg, #7ab507 0%, #d7f004 100%);
  -webkit-box-shadow: 0 1px 1px #23943e;
  box-shadow: 0 1px 1px #23943e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7f004',endColorstr='#7ab507',GradientType=0); }

.main-form input[type='submit']:hover {
  opacity: .87; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3); }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3); }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3); }

#map1,
#map2 {
  width: 480px;
  height: 540px;
  overflow: hidden; }

#fixed-menu {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }
