@import "bourbon";
@import "vars";

body {
	font-family: $main-font;
	font-size: 16px;
	line-height: 28px;
	color: $main-color;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-weight:400;
	background-color: #fff;
}

a, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}
input {border: none;outline: none;}
a,input,span,div {transition: all .25s;}
input:focus, textarea:focus {outline: 0;}
h1, h2, h3, h4, h5, h6 {font-family: $main-font, sans-serif;}
img {
	max-width: 100%;
	height: auto;
}
ul, ol {padding-left: 0;}
li {list-style: none;}
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:after,:before{content:"";display:block;width:100%;height:0;clear:both}
sup:after,sup:before,a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center;font-family: $second-font;font-weight: 300;letter-spacing: 0.01em}
a{text-decoration:none;color:inherit;outline:0!important}
button,input,textarea{outline: none;}

::selection { background-color: rgba(177, 213, 38, .85);}
::-moz-selection { background-color: rgba(177, 213, 38, .85);}

section.header > div > div,
section.menu > div > div,
section.problem > div > div {top: 50%;}

h2 {
	font-family: $second-font;
	color: $h-color;
	font-size: 26px;
	font-weight: bold;
}

@mixin sec() {
	width: 100%;
	min-width: $viewport;
	overflow: hidden;
	position: relative;
	z-index: 2;
	min-height: 600px;
	height: 100vh;
	background-size: cover!important;
	&>div{
		max-width: $viewport;
		position: relative;
		z-index: 2;
		height: 100%;
		margin: 0 auto;
		&>div{
			width: 100%;
			position: absolute;
			height: 600px;
			top: 55%;
			margin-top: -300px;
		}
	}
}

@mixin ibw() {
	text-align: center;
	font-size: 0;
	&>*{
		font-size: 1rem;
		display: inline-block;
		vertical-align: top;
	}
}

@mixin gradient() {
	background: #d7f004;
	background: -moz-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(215,240,4,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(215,240,4,1)), color-stop(100%, rgba(122,181,7,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(215,240,4,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(215,240,4,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(215,240,4,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(122,181,7,1) 0%, rgba(215,240,4,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f004', endColorstr='#7ab507',GradientType=0 ); /* ie6-9 */
}

@mixin gradient-2() {
	background: -moz-linear-gradient(50deg, rgba(64,171,16,0.8) 0%, rgba(185,221,16,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(64,171,16,0.8)), color-stop(100%, rgba(185,221,16,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(50deg, rgba(64,171,16,0.8) 0%, rgba(185,221,16,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(50deg, rgba(64,171,16,0.8) 0%, rgba(185,221,16,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(50deg, rgba(64,171,16,0.8) 0%, rgba(185,221,16,1) 100%); /* ie10+ */
	background: linear-gradient(40deg, rgba(64,171,16,0.8) 0%, rgba(185,221,16,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9dd10', endColorstr='#40ab10',GradientType=0 ); /* ie6-9 */
}

@mixin gradient-btn() {
	background: -moz-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(165,209,6,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(165,209,6,1)), color-stop(100%, rgba(122,181,7,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(165,209,6,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(165,209,6,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(122,181,7,1) 0%, rgba(165,209,6,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(122,181,7,1) 0%, rgba(165,209,6,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d106', endColorstr='#7ab507',GradientType=0 ); /* ie6-9 */
}