@import "bourbon";
@import "vars";
@import "base";

/* Стили хедера */

.header {
	background-image: url('../img/header-bg.jpg');
	.head {
		min-height: 55px;
	}
	.logo {
		float: left;
		height: 55px;
		img {
			height: 100%;
			float: left;
		}
		p {
			float: left;
			font-family: $main-font;
			font-size: 13px;
			line-height: 18px;
			margin-left: 15px;
			margin-top: 6px;
		}
	}
	.callback {
		float: right;
		text-align: right;
		min-height: 55px;
		a {
			font-size: 21px;
			font-weight: bold;
			font-family: $second-font;
			color: $dark-color;
			&:hover {color: $h-color;}
		}
		.callback-btn {
			font-size: 14px;
			background-image: url('../img/icon-callback.png');
			background-repeat: no-repeat;
			background-position: left center;
			cursor: pointer;
			&:hover {color: $h-color;}
		}
	}

	.header-text {
		margin-top: 58px;
		h1 {
			font-size: 29px;
			color: $dark-color;
			font-weight: bold;
			line-height: 36px;
		}
		h2 {
			margin: 14px 0;
			font-size: 22px;
			color: #696b6e;
			line-height: 30px;
			span {font-weight: bold;}
		}
	}

	.header-video {
		width: 460px;
		height: 315px;
		background-image: url('../img/header-video-bg.jpg');
		background-size: cover;
		background-position: center center;
		cursor: pointer;
		float: left;
		margin-right: 38px;
		margin-top: 9px;
		&:hover .vid-over {
			background-color: rgba(0,0,0,.2);
			img {transform: scale(.95);}
		}
		.vid-over {
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 315px;
			transition: all .25s;
			img {
				vertical-align: middle;
				transition: all .25s;
			}
		}
	}
}

.menu-btn {
	width: 160px;
	min-height: 55px;
	background-image: url('../img/menu-toggle.png');
	background-repeat: no-repeat;
	background-position: top left;
	text-align: center;
	cursor: pointer;
	margin-right: 200px;
	float: left;
	transition: all .25s;
	span {
		font-family: $second-font;
		font-weight: bold;
		font-size: 13px;
		line-height: 38px;
	}
	&:hover {background-image: url('../img/menu-toggle-hover.png');}
	&:hover span {color: $h-color;}
}

.main-form {
	width: 365px;
	height: 315px;
	float: left;
	margin-top: 9px;
	background-color: #27292c;
	background-image: url('../img/header-form-bg.png');
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 35px;
	p {
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 20px;
		margin-bottom: 20px;
	}
	input[type='text'],
	input[type='tel'] {
		width: 100%;
		background-color: #4e5156;
		color: #bbb;
		font-family: $main-font;
		font-size: 13px;
		padding: 12px 15px;
		margin-bottom: 20px;
		border-radius: 20px;
		box-shadow: inset 0 4px 2px rgba(0,0,0,.14);
	}
	input[type='submit'] {
		text-align: center;
		width: 100%;
		border-bottom-right-radius: 25px;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		padding: 15px;
		color: #fff;
		font-size: 15px;
		font-family: $second-font;
		cursor: pointer;
		@include gradient();
		transition: all .25s;
		box-shadow: 0 1px 1px #23943e;
		&:hover {
			opacity: .87;
		}
	}
}

::-webkit-input-placeholder {color:rgba(255,255,255,.3);}
::-moz-placeholder          {color:rgba(255,255,255,.3);}
:-moz-placeholder           {color:rgba(255,255,255,.3);}
:-ms-input-placeholder      {color:rgba(255,255,255,.3);}

