@import "header";

section {
	@include sec();
}

// PROBLEM SECTION
.problem {
	background-image: url('../img/problem-bg.jpg');
	background-position: center center;
	h2 {
		font-size: 26px;
		font-family: $second-font;
		font-weight: bold;
		color: $h-color;
		margin: 90px 0 45px;
	}
}
.problems-wrap {
	padding: 0 75px;

	.problem-item {
		// @include gradient();
		display: block;
		width: 261px;
		height: 400px;
		position: relative;
		float: left;
		overflow: hidden;
		box-shadow: -2px 10px 34px rgba(45,78,28,.32);
		transition: all .25s;
		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: all .25s;
			z-index: 2;

			position: absolute;
		}
		h3 {
			height: 135px;
			padding-top: 45px;
			font-family: $second-font;
			color: $h-color;
			font-size: 20px;
			font-weight: bold;
			transition: all .25s;
		}
		p {
			font-size: 16px;
			color: #fff;
			line-height: 30px;
			text-align: center;
			font-family: $second-font;
			opacity: 0;
			transition: all .25s;
		}
		&:hover {box-shadow: -2px 10px 34px rgba(45,78,28,.6);}
		&:hover p {opacity: 1;}
		&:hover h3 {color: #fff;}
		&:hover .overlay {opacity: 1;}
		&:hover a {
			// @include gradient-2();
			// background-image: url('../img/overlay-green.png');
		}
	}

	.problem-item.alko {
		margin-right: 22px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		background-image: url('../img/alko-bg.jpg');
	}
	.problem-item.narko {
		margin-right: 22px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		background-image: url('../img/narko-bg.jpg');
	}
	.problem-item.psiho {
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		background-image: url('../img/psiho-bg.jpg');
	}

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		background-image: url('../img/overlay-green.png');
		opacity: 0;
		transition: opacity .25s;
	} /*пришлось сделать картинкой, так как transition с градиентами не работает, нужно использовать огромные костыли*/

	.problem-item.alko .overlay {
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.problem-item.narko .overlay {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	.problem-item.psiho .overlay {
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}
}

#politics {
	margin: 35px auto 0;
	display: block;
	font-size: 14px;
	color: $grey-color;
	text-align: center;
	width: 230px;
	&:hover {text-decoration: underline;opacity: .8;}
}
// PROBLEM SECTION

// MENU
.menu {
	background-color: rgba(255,255,255,.93);
	position: fixed;
	z-index: 800;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform .7s cubic-bezier(0.47, 0.04, 0.12, 0.99);
	transform: translate3d(0, -100%, 0);
	&.down {transform: translate3d(0, 0, 0);}
	#close-menu {
		display: block;
		position: absolute;
		top: -20px;
		left: -20px;
		cursor: pointer;
		padding: 25px;
		transition: all .25s;
		&:hover {transform: rotate(90deg);}
	}
}
.menu-list {text-align: center;}
.menu-list li {
	display: inline-block;
	padding: 0 16px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 20px;
		right: -8px;
		display: block;
		width: 11px;
		height: 14px;
		background-image: url('../img/li-list.png');
		background-repeat: no-repeat;
	}
	&:nth-child(4):after,
	&:nth-child(7):after,
	&:nth-child(8):after {display: none;}
}
.menu-list a {
	color: $dark-color;
	font-size: 18px;
	font-family: $second-font;
	font-weight: bold;
	line-height: 53px;
	&:hover {color: $h-color;}
}
.logo-menu {
	margin: 0 auto 100px;
	text-align: center;
}
#consult-btn {
	width: 250px;
	min-height: 40px;
	display: block;
	margin: 40px auto 0;
	border-radius: 50px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-family: $second-font;
	box-shadow: 0 1px 1px #23943e;
	@include gradient-btn();
	&:hover {opacity: .85;box-shadow: none;}
}
// MENU

//MODALS
.main-form {position: relative;}
.box-modal_close.arcticmodal-close {
	position: absolute;
	top: -24px;
	right: -24px;
	width: 21px;
	height: 21px;
	background-image: url('../img/close-menu.png');
	cursor: pointer;
}
#callback-modal .main-form,
#write-modal .main-form {background-image: none;}


//FIXED MENU
#fixed-menu {
	transform: translate3d(0, -100%, 0);
	height: 65px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: transform .25s;
	&.down-menu {transform: translate3d(0, 0, 0);}
	&>div {
		width: 980px;
		margin: 0 auto;
	}
	.menu-btn {
		background-image: none;
		position: relative;
		line-height: 65px;
		&:hover .a {top: 20px;}
		&:hover .c {top: 40px;}
	}
}

.toggle {
	width: 65px;
	height: 65px;
	position: absolute;
	top: 0;
	left: -8px;
	span {
		position: absolute;
		left: 20px;
		width: 24px;
		height: 4px;
		margin-bottom: 4px;
		display: block;
		background-color: #b9be13;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 4px;
		&.a {top: 22px;}
		&.b {top: 30px;}
		&.c {top: 38px;}
	}
}
.logo-fixed {
	float: left;
	img {
		height: 42px;
		width: auto;
		display: block;
		margin: 11px 82px;
	}
}
.callback-fixed {
	float: right;
	a {
		line-height: 65px;
		font-size: 20px;
		font-weight: bold;
		font-family: $second-font;
		color: $dark-color;
		&:hover {color: $h-color;}
	}
}


@import "media";  //всегда в конце