.scrollgeneric {
  line-height: 1px;
  font-size: 1px;
  position: absolute;
  top: 0;
  left: 0; }

.vscrollerbase, .vscrollerbar {
  width: 23px !important; }

.hscrollerbase, .hscrollerbar {
  height: 20px; }

.vscrollerbar, .hscrollerbar {
  padding: 5px;
  z-index: 2; }

.vscrollerbarbeg {
  width: 23px !important; }

.vscrollerbarend {
  width: 23px !important;
  height: 10px; }

.hscrollerbarbeg {
  height: 15px; }

.hscrollerbarend {
  height: 15px;
  width: 23px; }

.vscrollerbase, .hscrollerbase {
  /* background-color: #D1DDCB; */
  /* background-image: url(images/scrollbaseback.png); */ }

.hscrollerbasebeg {
  height: 20px; }

.hscrollerbaseend {
  height: 15px;
  width: 7px; }

.vscrollerbasebeg {
  width: 23px !important; }

.vscrollerbaseend {
  height: 7px;
  width: 20px; }

.scrollerjogbox {
  width: 20px;
  height: 15px;
  top: auto;
  left: auto;
  bottom: 0px;
  right: 0px; }

.arcticmodal-container, .arcticmodal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse; }

:first-child + html .arcticmodal-container {
  height: 100%; }

.arcticmodal-container_i {
  margin: 0 auto;
  height: 100%; }

.arcticmodal-container_i2 {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle; }

#hidden-box, .hidden-box {
  display: none; }

.error-input {
  border: 1px solid red; }

.reviews .bx-controls {
  position: absolute;
  top: 300px;
  width: 100%; }
  .reviews .bx-controls #sld1l, .reviews .bx-controls #sld1r {
    position: absolute; }
  .reviews .bx-controls #sld1l {
    left: 110px; }
  .reviews .bx-controls #sld1r {
    right: 110px; }
